<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     MVP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-card >
        <ion-card-header>
            <h2 class="f-f">Прямокутний трикутник</h2>

        </ion-card-header>
        <ion-card-content>
            <ion-item color="transparent" lines="none">
              
                <ion-input label="Катет a" labelPlacement="floating" #inputA class="f-f " 
                type="number" value="3"></ion-input>
            </ion-item>
            <ion-item color="transparent" lines="none">
              
                <ion-input label="Катет a" labelPlacement="floating" #inputB 
                class="f-f" type="number" value="4"></ion-input>
            </ion-item>
            <ion-item>
                <ion-button (click)="ras(inputA.value,inputB.value)">Розрахувати</ion-button>

            </ion-item>
            <ion-item>
                <ion-label class="f-f">

                    {{view.a}}
                </ion-label>
                                <ion-label class="f-f">
                    
                    {{view.b}}
                </ion-label>
                                <ion-label class="f-f">
                    
                    {{view.c}}
                </ion-label>
                        <ion-label class="f-f">
                    
                    {{view.s}}
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
 


</ion-content>
